# data files
*.gpkg

# images
*.png
*.jpg
*.jpeg
*.svg

# report output files
*.html

# extraneous outputs from data diffing
__pycache__/*

# script that specifies which gpkg objects to compare and the output name/location
report_specifications.py